fastapi==0.115.5
uvicorn[standard]==0.32.0
python-multipart==0.0.17
jinja2==3.1.4
pillow==10.4.0
numpy==1.26.4
onnx==1.16.2
onnxruntime==1.18.1
torch==2.3.1
torchvision==0.18.1
tensorflow-cpu==2.17.0
tf2onnx==1.16.1
transformers==4.45.2
psutil
safetensors==0.4.4
opencv-python-headless==4.10.0.84
anyio==4.11.0
certifi==2025.10.5
click==8.3.0
colorama==0.4.6
filelock==3.20.0
fsspec==2025.10.0
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==1.0.1
idna==3.11
packaging==25.0
PyYAML==6.0.3
shellingham==1.5.4
sniffio==1.3.1
tqdm==4.67.1
typer-slim==0.20.0
typing_extensions==4.15.0
